form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  fieldset {
    border: none;

    & legend {
      display: flex;
      align-items: center;
      margin-bottom: 1.5rem;

      & svg {
        width: 1.5rem;
        height: 1.5rem;

        & path {
          fill: var(--input-placeholder);
        }
      }

      .section-title {
        padding-left: 0.75rem;
      }
    }
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  & label {
    font: var(--text-sm);

    margin-bottom: 0.75rem;
  }
}

.color-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & label {
    font: var(--text-sm);
    color: white;
  }
}
