input,
textarea {
  appearance: none;
  padding-inline: 1rem;

  background-color: var(--input-base);
  border: none;
  outline: 1px solid var(--input-stroke);
  border-radius: 0.5rem;

  font: var(--text);
  color: var(--text-heading);

  &::placeholder {
    color: var(--input-placeholder);
  }

  &:focus {
    outline-color: var(--brand-light);
  }
}

textarea {
  padding: 1rem;
  resize: none;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input[type="text"],
input[type="datetime-local"] {
  height: 3rem;
}
