#app {
  display: grid;
  grid-template-columns: 32.79% 67.21%;

  max-width: 1220px;
  height: 100vh;
  margin: auto;
  overflow: hidden;
  border-radius: 0.75rem;

  & main {
    overflow: auto;

    & .main-container {
      padding-block: 1.25rem;
    }
  }

  & aside {
    padding: 1.25rem;

    & #bg-img {
      border-radius: 0.75rem;
    }
  }
}
