.text-logo {
  font: var(--text-logo);
  color: var(--pink);
}

.bg-blue {
  background-color: var(--brand-light);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-fuschia {
  background-color: var(--fuschia);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-lime {
  background-color: var(--lime);
}
.bg-green {
  background-color: var(--green);
}
.bg-cyan {
  background-color: var(--cyan);
}
.bg-navy {
  background-color: var(--navy);
}
