.text-logo {
  font: var(--text-logo);
  color: var(--pink);
}

.btn {
  cursor: pointer;
  max-height: 100%;

  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding: 0.875rem 1.25rem;

  background-color: var(--brand-dark);

  font: var(--text-semibold);
  color: var(--text-heading);

  border: none;
  border-radius: 0.5rem;

  &:hover {
    background-color: var(--brand-mid);
  }
}

.btn-secondary {
  gap: 0.5rem;

  padding: 0.5rem 0.75rem;

  background-color: var(--shape-button);

  font: var(--text-sm-semibold) !important;
  color: var(--text-heading);

  &:hover {
    background-color: var(--shape-hover);
  }
}

.bg-blue {
  background-color: var(--brand-light);
}
.bg-navy {
  background-color: var(--navy);
}
.bg-purple {
  background-color: var(--purple);
}
.bg-fuschia {
  background-color: var(--fuschia);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-red {
  background-color: var(--danger-color);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-lime {
  background-color: var(--lime);
}
.bg-green {
  background-color: var(--green);
}
.bg-cyan {
  background-color: var(--cyan);
}
